<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Edit Profile</title>
        <link rel="stylesheet" href="/css/style.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@500&family=Fascinate+Inline&family=Fjalla+One&family=Londrina+Shadow&family=Open+Sans:ital,wght@0,300;0,400;1,300&family=Poiret+One&family=Poller+One&family=Rubik+Gemstones&family=Shadows+Into+Light&family=Titan+One&display=swap" rel="stylesheet">
	</head>
	<body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="/"><img id="logo" src="/images/logo2.png"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
              <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item active">
                  <a class="nav-link" href="/sitters/aboutus">About Us <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/sitters">Nanny Profiles</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link disabled" href="/sitters/contactus">Contact Us</a>
                  </li>
              </ul>
                <button class="back" type="submit"><a class="aBack" href="/users/signin">LOG IN</a></button>
                <button class="back" type="submit"><a class="aBack" href="/users/register">SIGN UP</a></button>
            </div>
          </nav>
          <div class="create-edit">
		<h1 class = "welcome-edit">EDIT PROFILE</h1>
		<form action="/sitters/<%=profile.id%>?_method=PUT" method="POST">
            <label for="image">Image Link</label>
            <input type="text" name="image" id="image" value="<%=profile.image%>"><br>
            <label for="name">Name</label>
            <input type="text" name="name" id="name" value="<%=profile.name%>"><br>
            <label for="age">Age</label>
            <input type="text" name="age" id="age" value="<%=profile.age%>"><br>
            <label for="location">Location</label>
            <input type="text" name="location" id="location" value="<%=profile.location%>"/><br>
            <label for="education">Education</label>
            <input type="text" name="education" id="education" value="<%=profile.education%>"/><br>
            <label for="experience">Experience</label>
            <input type="number" name="experience" id="experience" value="<%=profile.experience%>"/><br>
            <label for="desiredSalary">Desired Salary</label>
            <input type="number" name="desiredSalary" id="desiredSalary" value="<%=profile.desiredSalary%>"/><br>
            <label for="haveCar">Have a Car?</label>
            <input type="checkbox" name="haveCar"
            <% if(profile.haveCar) {%>
                checked
            <% } %>
            /><br />
            <label for="aboutYourself">About Yourself</label>
            <input type="text" name="aboutYourself" id="aboutYourself" value="<%=profile.aboutYourself%>"/><br>
            <label for="phoneNumber">Phone Number</label>
            <input type="text" name="phoneNumber" id="phoneNumber" value="<%=profile.phoneNumber%>"/><br>
            <label for="email">Email</label>
            <input type="email" name="email" id="email" value="<%=profile.email%>"/><br><br>
			<input type="submit" name="" value="EDIT PROFILE"/>
            <button class="back"><a class="aBack" href="/">BACK</a></button>
		</form>
    </div>
	</body>
    <footer class="media-footer">
        <p>&copy; 2023 Many Nanny Company. All rights reserved.</p>
    </footer>
</html>