<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PROFILE/title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <img src="<%=profile.image%>">
    <h1><%=profile.name%></h1>
    <h3>AGE: <%=profile.age%></h3>
    <h3>LOCATION: <%=profile.location%></h3>
    <h3>EDUCATION: <%=profile.education%></h3>
    <h3>EXPERIENCE: <%=profile.experience%></h3>
    <h3>DESIRED SALARY: <%=profile.desiredSalary%></h3>
    <h3>HAVE A CAR?: <%=profile.haveCar%></h3>
    <h3>ABOUT YOURSELF <%=profile.aboutYourself%></h3>
    <h3>PHONE: <%=profile.phoneNumber%></h3>
    <h3>EMAIL: <%=profile.email%></h3>
    
    <form action="/home/sitters/<%=profile.id%>?_method=DELETE" method="POST">
        <input type="submit" value="DELETE"/>
    </form><br>
    <a href="/home/sitters/<%=profile.id%>/edit">EDIT</a><br><br>
    <a href="/home/sitters">BACK</a>
</body>
</html>